@import "tailwindcss";

:root {
--color-primary: #0a2540; 
--color-accent: #ff7b00; 
--color-light: #ffffff;
}


body {
font-family: var(--font-inter), sans-serif;
background-color: var(--color-light);
color: var(--color-primary);
}


h1, h2, h3, h4, h5, h6 {
font-family: var(--font-poppins), sans-serif;
font-weight: 600;
}


button {
@apply bg-(--color-accent) text-white font-semibold px-4 py-2 rounded-lg transition-colors;
}


button:hover {
@apply bg-orange-600;
}

.wave-bg-desktop {
  background-image: url('/wave3.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain; 
}

@media (max-width: 767px) {
  .wave-bg-desktop {
    background-image: none !important;
  }
}